.index {
	padding-top: 70px;
}

#tag {
	margin-bottom: 20px;
}

.form-heading {
	text-align: center;
}

.form-style {
	width: 50%;
	margin: 20px auto;
}

.form-layout {
	margin-top: 3%;
}

.navbar-brand{
	font-size: 25px;
	margin: 0 10px;
}

.nav-item {
	font-size: 18px;
	margin: 0 10px;
}

.fa {
	size: 22px;
	margin: 0 5px;
}

.img-question {
	max-width: 70%;
	max-height: 400px;
	margin: 10px 15%;
	padding: inherit;

}

.question-body {
	padding: inherit;
	margin: 3%;
	border: 1.5px solid rgba(0,0,0,0.3);
}

.answer-body {
	padding: 0;
	margin: 3%;
	border: 1.5px solid rgba(0,0,0,0.3);
}

.sub {
	color: rgba(0,0,0,0.4);
	font-size: 18px;
}

.box {
	background: #fff;
	color: #000;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
}

.loginbox {
	max-width: 420px;
	max-height: 320px;
	top: 40%;
	left: 50%;
	
}
.signupbox {
	max-width: 550px;
	min-width: 320px;
	max-height: 580px;
	top: 50%;
	left: 50%;
}

.resetbox {
	max-width: 450px;
	min-width: 380px;
	max-height: 300px;
	top: 40%;
	left: 50%;
}

.forgotbox {
	max-width: 450px;
	min-width: 380px;
	max-height: 250px;
	top: 40%;
	left: 50%;
}

#search-box-navbar {
	min-width: 230px;
}

.img-box {
	background-color: rgba(0,0,0,0.04);
	margin-bottom: 20px;
}

.post-buttons {
	display: inline-block;
	margin: 5px 10px;
	font-size: 18px;
	font-style: italic;
}

.post-buttons-icons {
	color: blue;
}

.last-updated {
	float: right;
}

.left-rack {
	text-align: center;
}

.nav-text {
	white-space: nowrap;
}

.ans-button {
	display: inline-block;
	margin: 5px 10px;
}

.center {
	text-align: center;
}

#search {
	margin: 25px auto;
}

#sign {
    position: relative;
    top: -64px;
    left: 300px;
    font-size: 36px;
}

#search-button {
	margin-bottom: 20px;
}

/* After Search */
/* open up box */
.open {
    display: none;
    overflow: hidden;
    margin: 50px -12% 10px;
    box-sizing: border-box;
    padding: 2px 15px 0;
    width: 90%;
    background: #ddd;
    box-shadow: 0px 0px 50px rgb(18, 18, 18);
    border-radius: 10px;
}

.answer {
    text-align: justify;
    padding: 10px 45px;
}

/* Categories */
/* Content */
#content {
    min-width: 900px;
    color: #333;
    box-sizing: border-box;
    padding: 100px 0;
    background: #ddd;
    margin: -120px 33%;
}

.img {
    display: inline-block;
    width: 300px;
    height: 200px;
    box-sizing: border-box;
    margin: 0 2.4px 5px 0;
    border-radius: 5px;
    border: solid 1px rgba(51, 51, 51, 0.8);
}

.cat {
	visibility: hidden;
}

.cat-align {
	text-align: center;
	float: left;
	margin: -20px 40px 20px;
}

.cat-desk {
	margin: 100px 20px 10px -15%;
}

.textarea-cat{
    display: none;
    width: 800px;
    height: 100px;
    background: #333;
    color: #ddd;
    padding: 10px;
    margin: 5px 0 -14px; 
}

.mob-post-ans {
	font-size: 3em;
	margin: 0 0 0 -33%;
}

#p {
    width: 300px;
    opacity: 0;
    font-size: 22px;
    height: 200px;
    line-height: 200px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
}

#topic{
    margin: -2px auto 10px;
    padding: 5px;
    text-align: justify;
    background: #333;
    color: #ddd;
    border-radius: 5px;
}

#qa-block {
    box-shadow: 0 0 10px #333;
    border-radius: 10px;
    margin: 10px;
}

/* Ask Page */
select {
    color: #ddd;
    background: #555;
    width: 100px;
    height: 38px;
    border: none;
    line-height: 37px;
}

#ask_submit {
    display: block;
    margin: 0 240px 20px;
}

.ask-form{
	margin: 120px 0 0 0;
}

/* full heading */
.heading {
    display: inline-block;
    margin: 55px 0 4px;
}

p#tag-line{
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

/* Signup Page */
.signup-img{
	margin: 20px 37%;
}

#user,#key,#name,#mailbox{
    width: 450px;
    padding-left: 32px;
    margin: 15px 0;
}

.buttons{
    position: relative;
    display: inline-block;
    padding: 2px 5px;
}

#lock{
    display: inline-block;
    position: relative;
    bottom: 50px;
    right: -4px;
    color: #999;
}

#lock-login{
    display: inline-block;
    position: relative;
    bottom: 47px;
    right: 194px;
    color: #999;
}

#person{
    display: inline-block;
    position: relative;
    bottom: 107px;
    right: 23px;
    color: #999;
}

#person-login{
    display: inline-block;
    position: relative;
    bottom: 100px;
    right: 223px;
    color: #999;
}

#email{
    color: #999;
    display: inline-block;
    position: relative;
    bottom: 91px;
    right: -4px;
}

#iden{
    color: #999;
    display: inline-block;
    position: relative;
    bottom: 150px;
    right: 25px;
}

#new{
    padding: 2px 8px
}

.mob-form{
	max-width: 320px;
	margin: 0 35%;
}

.mob-btn-login{
	margin: 10px 115px 10px;
}

.mob-btn-signup{
	margin: 0 155px;
}

.buttons{
    padding: 8px 12px;
}
/* Login */
#trouble{
    color: #333;
    position: relative;
    bottom: 80px;
}

.mob-login{
	margin-top: 30px;
}

/* Contact */
.cont-page{
	padding-top: 70px;
	margin-bottom: 400px;
}

.contact-img{
	margin: 0 15%;
}

/* Profile */
.profile-card{
	text-align: center;
}

#pro #content{
    box-shadow: 0 0 10px #333;
    border-radius: 10px;
    margin: 30px auto;
    padding: 10px;
    width: 700px;
    background: rgb(228, 230, 231);
}

#pic{
    background: url(../images/blank3.png);
    background-size: 100%;
    float: left;
    width: 400px;
    height: 400px;
    border-right: solid 5px #333;
    margin: 20px 10px 10px 0px;
}

#hea-det{
    float: right;
    margin: 20px 0 5px;
    font-size: 20px;
    width: 400px;
    padding: 148.1px 10px;
    text-align: left;
}

@media only screen and (max-width: 578px) {
	body {
	    max-width: 576px;
	    overflow-x: hidden;
	}
	#tag {
		font-size: 26px;
		margin: 20px auto;
	}
	.index-page {
		padding: 0px;
	}
	.mob-view-index {
		margin: 10px 0;
		float: left;
	}
	.mob-view-img {
		margin: 15px 0;
	}
	#search {
		margin-top: 20px;
		max-width: 400px;
	}
	.img-index {
		width: 300px;
		max-height: 300px;
	}
	.jumbo-index {
		margin-bottom: 0px;
		max-width: 576px;
		padding: 16px 16px;
	}
	#tag-line {
		padding: 0px 25px;
	}
	#search-button {
		margin-right: 30px;
	}
	#sign {
		position: relative;
    	top: -64px;
    	left: 235px;
    	font-size: 36px;
	}
	.search-form {
		max-width: 576px;
	}
	/* After Search */
	#topic {
		max-width: 560px;
		margin-top: 5px;
	}
	.open {
	    margin: 60px 15px 10px;
		max-width: 380px;
	    padding: 2px 8px 5px;
	    left: 0px;
	    height: auto;
	    position: relative;
	    box-shadow: 0px 0px 25px rgb(18, 18, 18);
	    border-radius: 5px;
	    overflow: hidden;
	}
	#qa-block {
		margin: 10px 0;
	}
	.answer {
		padding: 10px 20px;
	}
	/* Categories */
	/* Content */
	#content {
	    max-width: 576px;
	    min-width: 576px;
	    padding: 20px 0;
	    margin: 0 0 10px;
	    overflow: hidden;
	}
	.img {
	    display: inline-block;
	    width: 350px;
	    height: 200px;
	    box-sizing: border-box;
	    margin: 15px auto;
	    border-radius: 5px;
	    border: solid 3px rgba(130,130,130,0.5);
	}
	.cat {
		visibility: visible;
		width: 350px;
		margin: -5px 0 10px;
		font-size: 18px;
		text-align: center;
	}
	#p {
	    width: 350px;
	    text-align: center;
	}
	.cat-align {
		text-align: left;
		margin-left: 25px; 
	}
	.cat-desk {
		margin: 0;
	}
	.nav-diff {
		max-width: 420px;
	}
	.cat-page {
		max-width: 576px;
		height: 100%
	}
	.textarea-cat {
		width: 300px;
		height: 50px;
	}
	.mob-post-ans {
		font-size: 2em;
		max-width: 410px;
		margin: 0;
	}
	/*Ask Page */
	#ask {
		padding-top: 70px;
	}
	select{
	    width: 130px;
	    position: relative;
	    top: 5px;
	    left: -95px;
	}
	.ask-category {
		font-size: 16px;
		margin: 10px 15px 10px;
		float: left;
	}
	.ask-que {
		max-width: 360px;
		padding: 10px;
	}
	#ask_submit {
	    display: block;
	    margin: 0 150px 20px;
	}
	#ask-ta {
	    margin: 20px auto;
	    font-size: 10px;
	}
	.ask-form{
		margin: 0 0 0 30px;
	}
	/* full heading */
	.heading {
	    display: inline-block;
	    max-width: 410px;
	    margin-top: 20px;
	}
	p#tag-line{

	}
	.contact-img{
		margin-top: -20px;
		max-width: 380px;
	}
	/* Signup */
	.signup-img{
		max-width: 330px;
		margin: 0 0 0 30px;
	}
	.mob-view-signup{
		margin: 20px 20px;
		max-width: 390px;
	}
	#user,#key,#name,#mailbox{
	    width: 365px;
	    padding-left: 32px;
	    margin: 15px 10px 15px 0;
	}
	.mob-btn-login{
		margin: 10px 65px 10px;
	}
	.mob-btn-signup{
		margin: 0 105px;
	}
	#sf .buttons{
	    margin-bottom: 0px;
	}
	.mob-form{
		margin: 0;
	}
	.buttons{
	    padding: 10px 10px;
	}
	.tag-line-signup{
		margin: 20px 0;
	}
	#lock{
	    left: 5px;
	    right: 0px;
	}
	#person{
	    left: -22px;
	    top: -105px;
	}
	#email{
	    left: 4px;
	    top: -150px;
	}
	#iden{
	    left: -25px;
	    top: -90px;
	}
	#lock-login{
	    left: -157px;
	    right: 0px;
	}
	#person-login{
	    left: -185px;
	    top: -107px;
	}
	#trouble{
	    bottom: 85px;
	    left: 5px;
	}
	.mob-login{
		margin-top: 20px;
	}
	/* Contact */
	.contact-img{
		margin: 0;
	}
	/* Profile */
	#pro #content{
		max-width: 380px;
		min-width: 380px;
	    margin: 30px 15px;
	    padding: 10px;
	    background: rgb(228, 230, 231);
	}
	#pic{
	    max-width: 360px;
	    height: 360px;
	    border-right: solid 0px #333;
	    margin: 20px 10px 10px 0px;
	    padding: 20px;
	}
	#hea-det{
	    margin: 0 0 5px;
	    padding: 0px 10px;
	    width: 360px;
	}
}